<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Pagina principal</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<!-- <link href="{{ STATIC_URL }}/static/reset.css" type="text/css" rel="stylesheet" /> -->

<body class="dashboard">
<!-- Container -->
	<div id="container">
	    <!-- Header -->
	    <div id="header">
	        <div id="branding">
				<h1 id="site-name">Gestion de stock </h1>
	        </div>
	    </div>
	    <!-- END Header -->
	    <!-- Content -->
	    <div id="content" class="colMS">
	        <h1></h1>
			<div id="content-main">
				
			</div>
	        <br class="clear" />
	    </div>
	    <!-- END Content -->
	</div>
	<!-- END Container -->
</body>
</html>